/* ROBOTO */
@font-face { font-family:Roboto-Black; src:url(../../FONTE/Roboto/Roboto-Black.ttf);}
@font-face { font-family:Roboto-Bold; src:url(../../FONTE/Roboto/Roboto-Bold.ttf);}
@font-face { font-family:Roboto-Light; src:url(../../FONTE/Roboto/Roboto-Light.ttf);}
@font-face { font-family:Roboto-Medium; src:url(../../FONTE/Roboto/Roboto-Medium.ttf);}
@font-face { font-family:Roboto-Regular; src:url(../../FONTE/Roboto/Roboto-Regular.ttf);}
@font-face { font-family:Roboto-Thin; src:url(../../FONTE/Roboto/Roboto-Thin.ttf);}
@font-face { font-family:Harmonia; src:url(../../FONTE/harmonia.ttf);}
@font-face { font-family:Arca; src:url(../../FONTE/ArcaMajora3-Bold.otf);}
@font-face { font-family:Sleep; src:url(../../FONTE/Asleepytiming.otf);}